<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProiectSMP.Properties.Settings.ProiectConnectionString"
            connectionString="Data Source=|DataDirectory|\Proiect.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="ProiectSMP.Properties.Settings.ProiectTestConnectionString"
            connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\Maryan\ProiectTest.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>